@import './kbd.css';
@import './code.css';

body {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.el-tabs__header {
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: white;
    font-weight: bold;
}
